.advantages__wrapper {
  @include wrapper-margin;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
    padding-left: 176px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 82px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 96px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 83px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 111px;
    column-gap: 70px;
    grid-auto-flow: row;
  }
}

.advantages__item {
  position: relative;
  text-align: left;

  &--eco::before {
    content: "";
    position: absolute;
    background-image: url("../../img/flower-icon.svg");
    width: 33px;
    height: 38px;
    bottom: 56px;
    left: 0;
  }

  &--scandin::before {
    content: "";
    position: absolute;
    background-image: url("../../img/scandin-icon.svg");
    width: 47px;
    height: 27px;
    bottom: 66px;
    left: 0;
  }

  &--likes::before {
    content: "";
    position: absolute;
    background-image: url("../../img/likes-icon.svg");
    width: 34px;
    height: 27px;
    bottom: 61px;
    left: 0;
  }

  &--knit::before {
    content: "";
    position: absolute;
    background-image: url("../../img/knit-icon.svg");
    width: 35px;
    height: 34px;
    bottom: 57px;
    left: 0;
  }

  &--domestic::before {
    content: "";
    position: absolute;
    background-image: url("../../img/rocket-icon.svg");
    width: 55px;
    height: 23px;
    bottom: 66px;
    left: 0;
  }

  &--gift::before {
    content: "";
    position: absolute;
    background-image: url("../../img/gift-icon.svg");
    width: 33px;
    height: 32px;
    bottom: 60px;
    left: 0;
  }
}

.advantages__text {
  margin: 0;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
