.button {
  @include open-sans;
  display: block;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  background: $white;
  border: 2px solid $text;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $text;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: $text;
    color: $white;
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
  }

  &:focus {
    outline: none;
    border: 2px solid $main-color;
  }
}
