.card {
  border: 1px solid $whiteec;
  min-width: 260px;
  transition: 0.2s;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto;
    grid-template-rows: 462px auto;
  }

  &:hover .card__info {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .card__info {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.card__link {
  text-decoration-line: none;
  width: 100%;
  color: $black;
  transition: 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__title {
  font-size: 17px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.card__picture {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 41px;
  padding-top: 27px;
  padding-right: 27px;
  padding-bottom: 27px;
  padding-left: 28px;
  margin: 0;

  @media (min-width: $tablet-width) {
    row-gap: 0;
    align-content: space-between;
  }

  @media (min-width: $desktop-width) {
    row-gap: 60px;
  }
}

.card__about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card__description {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.card__price {
  width: 100%;
  position: relative;

  &::before {
    @include position-absolute;
    border-bottom: 1px solid $whiteec;
    width: 100%;
    top: -23px;
  }
}

.card__amount {
  font-size: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.card__value {
  margin: 0;
  padding-right: 1px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 3px;
  cursor: pointer;
  transition: 0.2s;
  color: $black;
  opacity: 0.2;

  &:hover {
    color: $main-color;
    opacity: 1;
  }

  &:active {
    color: $main-color;
    opacity: 0.3;
  }
}
