.contacts__wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    margin-right: 50px;
    margin-left: 113px;
    margin-bottom: 105px;
    padding-top: 79px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      background-image: url("../../img/flag.svg");
      background-repeat: no-repeat;
      width: 47px;
      height: 81px;
      top: -26px;
      right: 53px;
    }

    @media (min-width: $desktop-width) {
      top: 62px;
      right: auto;
      left: 0;
    }
  }
}

.contacts iframe {
  border: none;
  display: block;
  margin-bottom: 41px;
  width: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 527px;
    height: 457px;
  }
}

.contacts__title {
  @include wrapper-margin;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 34px;
    margin-left: 111px;
  }
}

.contacts__list {
  @include wrapper-margin;
  display: grid;
  row-gap: 30px;
  margin-bottom: 62px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-left: 111px;
    margin-bottom: 84px;
    width: 340px;
  }
}

.contacts__item {
  display: grid;
  grid-template-columns: 78px 183px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $text;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    grid-template-columns: 81px 230px;
  }
}

.contacts__value {
  margin: 0;
}

.contacts__email {
  color: $black;
  text-decoration-color: $main-color;
  text-underline-offset: 5px;

  &:hover {
    color: #46c1ae;
    transition: 0.2s;
  }

  &:active {
    text-decoration-color: rgba(99, 209, 187, 0.1);
  }
}

.contacts__button {
  @include wrapper-margin;
  max-width: 260px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    max-width: 230px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 111px;
  }
}
