.extra-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 70px;
  }
}

.extra-list__link {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: none;
  }
}

.extra-list__delivery {
  font-size: 15px;
  color: $text;
}
