.extra-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    left: auto;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    top: 109px;
    left: 0;
    gap: 60px;
  }
}

.extra-list__link {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    text-decoration: none;
    color: $black;
  }
}

.extra-list__delivery {
  font-size: 15px;
  color: $text;

  @media (min-width: $desktop-width) {
    position: absolute;
    white-space: nowrap;
    top: 0;
    right: 0;
  }
}
