.hero__wrapper {
  position: relative;
  background-color: $whitef1;

  &--catalog {
    min-height: 177px;

    @media (min-width: $tablet-width) {
      min-height: 238px;
    }

    @media (min-width: $desktop-width) {
      min-height: 272px;
    }

    &::after {
      @media (min-width: $tablet-width) {
        @include position-absolute;
        background-image: url("../../img/saw-fill-desktop.svg");
        bottom: -12px;
        width: 100%;
        height: 24px;
      }

      @media (min-width: $desktop-width) {
        height: 34px;
        bottom: -17px;
      }
    }
  }

  &--form {
    min-height: 177px;

    @media (min-width: $tablet-width) {
      min-height: 238px;
    }

    @media (min-width: $desktop-width) {
      min-height: 272px;
    }

    &::after {
      @media (min-width: $tablet-width) {
        @include position-absolute;
        background-image: url("../../img/saw-fill-desktop.svg");
        bottom: -12px;
        width: 100%;
        height: 24px;
      }

      @media (min-width: $desktop-width) {
        height: 34px;
        bottom: -17px;
      }
    }
  }

  &--image {
    height: 283px;
    background-image: url("../../img/hero-mobile.jpg");
    background-position: 50% -19px;
    background-repeat: no-repeat;
    background-color: $white-grayf9;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/hero-mobile@2x.jpg");
      background-size: 320px auto;
    }

    @media (min-width: $tablet-width) {
      height: 605px;
      background-position: 50% 14px;
      background-image: url("../../img/hero-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/hero-tablet@2x.jpg");
        background-size: 768px auto;
      }
    }

    @media (min-width: $desktop-width) {
      height: 628px;
    }
  }
}

.hero__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding-top: 73px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    font-size: 43px;
    line-height: 50px;
    padding-top: 155px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    font-size: 53px;
    line-height: 57px;
    padding-top: 158px;
  }
}

.hero__title--inner {
  padding-bottom: 73px;

  @media (min-width: $tablet-width) {
    padding-top: 102px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
  }
}
