.hero__wrapper {
  background-color: #f9f9f9;
}

.hero__wrapper--image {
  background-image: url("../../img/hero-mobile.jpg");
  background-position: center -10px;
  background-repeat: no-repeat;
}

.hero__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding-top: 73px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 120px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 155px;
    padding-right: 50px;
    padding-bottom: 372px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 158px;
    padding-right: 225px;
    padding-bottom: 355px;
    padding-left: 225px;
  }
}

.hero__title--inner {
  @media (min-width: $tablet-width) {
    padding-bottom: 75px;
  }
}
