.hero__wrapper {
  background-color: #f9f9f9;
  min-height: 373px;

  @media (min-width: $tablet-width) {
    min-height: 627px;
  }

  &--catalog {
    min-height: auto;
  }

  &--form {
    min-height: auto;
  }
}

.hero__wrapper--image {
  background-image: url("../../img/hero-mobile.jpg");
  background-position: center -10px;
  background-repeat: no-repeat;
  background-size: auto;
}

.hero__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding-top: 73px;
  padding-right: 35px;
  padding-left: 35px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    font-size: 43px;
    line-height: 50px;
    padding-top: 155px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    font-size: 53px;
    line-height: 57px;
    padding-top: 158px;
  }
}

.hero__title--inner {
  padding-bottom: 73px;

  @media (min-width: $tablet-width) {
    padding-top: 102px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
  }
}
