.main-header {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main-header__logo {
  align-self: center;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: 0.2s;

  @media (min-width: $tablet-width) {
    padding-bottom: 22px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    @include position-absolute;
    padding-left: 0;
    left: 47%;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
