.main-header {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    @include wrapper-margin;
    flex-direction: row;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main-header__logo {
  align-self: center;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 46%;
  }

  &:hover {
    opacity: 0.6;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.3;
  }
}
