.main-footer {
  background-color: $whitef1;
}

.main-footer__wrapper {
  @include wrapper-margin;
  position: relative;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 58px;
  }

  &::before {
    @media (max-width: $tablet-width) {
      content: "";
      position: absolute;
      border-bottom: 1px solid #e5e5e5;
      width: 100%;
      top: 80px;
    }
  }
}

.main-footer__link {
  text-decoration: none;
  color: $black;

  &:hover {
    color: #46c1ae;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__logo {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
