.slider__control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.slider__button {
  grid-column: span 2;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 175px;
    top: 85px;
    right: 0;
  }
}
