.slider__control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  row-gap: 38px;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
  }
}

.slider__button {
  border: 1px solid #ececec;
  background-color: $white;
  background-image: url("../../img/huge-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  height: 52px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 86px;
    bottom: 50px;
    width: 85px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    bottom: 100px;
  }

  &--next {
    transform: rotate(180deg);

    @media (min-width: $tablet-width) {
      right: 0;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__submit {
  grid-column: span 2;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 175px;
    top: 85px;
    right: 0;
  }
}
