.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
  padding-top: 25px;
  margin-bottom: 59px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}
