// Colors

$main-color: #63d1bb;
$darken-main: #46c1ae;
$another-main: #56c3b2;
$text: #444444;
$white: #ffffff;
$whitef1: #f1f1f1;
$whiteec: #ececec;
$white-grayf9: #f9f9f9;
$white-graye5: #e5e5e5;
$dark-gray: #231f20;
$black: #000000;

// Viewport

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
