@use "../global/bootstrap.scss";

.advantages__wrapper {
  @include bootstrap.wrapper-margin;
  margin-bottom: 58px;
}

.advantages__title {
  margin-bottom: 82px;
}

.advantages__list {
  @include bootstrap.list-reset;
}

.advantages__item {
  line-height: 20px;
  text-align: left;
}

.advantages__item:not(:last-of-type) {
  margin-bottom: 83px;
}

.advantages__item:last-of-type {
  margin-bottom: 58px;
}

.advantages__text {
  margin: 0;
}
