@use "../global/bootstrap.scss";

.card {
  border: 1px solid #ECECEC;
  min-width: 260px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card__link {
  text-decoration-line: none;
}

.card__title {
  font-size: 17px;
  margin-top: 26px;
  margin-left: 28px;
  margin-bottom: 5px;
  padding-right: 26px;
}

.card__info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 41px;
  margin-top: 0;
  margin-right: 28px;
  margin-bottom: 26px;
  margin-left: 28px;
}

.card__description {
  display: flex;

  &:not(.card__price) {
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
  }
}

.card__price {
  font-size: 15px;
}

.card__value {
  margin: 0;
  padding-right: 1px;
}
