@use "./global/bootstrap.scss";

.catalog-hero {
  margin-top: 120px - 74px;
}

.catalog-hero__wrapper {
  display: flex;
  flex-direction: column;

  &:not(.catalog-hero__wrapper) {
    @include bootstrap.wrapper-margin;
  }
}

.catalog-hero__button {
  padding-top: 25px;
  padding-right: 160px;
  padding-bottom: 30px;
  background-color: #63d1bb;
  border: none;
  cursor: pointer;

  &--secondary {
    background-color: #56c3b2;
  }
}

.catalog-hero__title {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}
