@use "../global/bootstrap.scss";

.contacts__wrapper {
  @include bootstrap.wrapper-margin;
}

.contacts__title {
  margin-bottom: 28px;
}

.contacts__list {
  display: grid;
  row-gap: 30px;
  margin-bottom: 62px;
}

.contacts__item {
  display: grid;
  grid-template-columns: 78px 183px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.contacts__value {
  margin: 0;
}

.contacts__image {
  display: flex;
  margin-bottom: 41px;
  width: 100%;
}

.contacts__button {
  margin-bottom: 39px;
}
