@use "../global/bootstrap.scss";

.reviews__wrapper {
  @include bootstrap.wrapper-margin;
  margin-bottom: 89px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-align: left;
  margin-bottom: 33px;
}

.reviews__author {
  font-style: normal;
}

.reviews__id {
  font-weight: 400;
}
